import pandas as pd
import streamlit as st
from streamlit_option_menu import option_menu
import psycopg2
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from streamlit_lottie import st_lottie

